<h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
  Sentence with meaning (context), description (comment) and key
</h1>

<h1 i18n="Text meaning|">
  Small sentence with "c'est", stuff like &nbsp; &lt; & something like !
  🙂
  michaël => only meaning!
</h1>

<h1 i18n="Text context with key|@@myKeyIsTooGood">
  Sentence with meaning (context) and key
</h1>

<h1 i18n="@@OnlySuperKey">
  Sentence with only key
</h1>

<ng-container i18n>Hello source</ng-container> <br />
<ng-container i18n>{{helloSourceFromJS}}</ng-container> <br />
<hr /> <br />
<ng-container i18n>{{helloKeyFromJS}}</ng-container> <br />

<br />
<br />
<br />

<img [src]="logo" i18n-title title="Angular logo" alt="Angular logo"/>
<br>
<button type="button" (click)="inc(1)">+</button> <button type="button" (click)="inc(-1)">-</button>
<span i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</span>
({{minutes}})
<br><br>
<button type="button" (click)="male()">&#9794;</button> <button type="button" (click)="female()">&#9792;</button> <button type="button" (click)="other()">&#9895;</button>
<span i18n>The author is {gender, select, male {male} female {female} other {other}}</span>
<br><br>
<span i18n>Updated: {minutes, plural,
  =0 {just now}
  =1 {one minute ago}
  other {{{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
</span>

<span i18n>{minutes, plural,
  =0 {Updated: just now}
  =1 {Updated: one minute ago}
  other {Updated: {{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
</span>
